<style>
</style>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand" href="/admin">Navbar</a>
      <a class="nav-link text-white active" aria-current="page" href="#">식단 관리</a>
      <a class="nav-link text-white" href="/admin/food">음식 관리</a>
      <a class="nav-link text-white" href="#">운동 관리</a>
      <a class="nav-link text-white" href="#">사용자 관리</a>
    </div>
  </div>
</nav>