<form class="ms-5" action="/admin/food" method="get">
  <div class="input-group">
    <input type="hidden" id="searchOption" value="<%=searchOption%>">
    <select name="searchOption" id="searchSelect" class="form-select">
      <option value="fdCntntsNo">음식코드</option>
      <option value="fdNm">음식명</option>
      <option value="matrlInfo">재료정보</option>
    </select>
      <input type="search" name="searchKeyword" value="<%=searchKeyword%>" class="w-25 form-control" placeholder="검색">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary bg-white btn-lg" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
  </div>
</form>

