<html>
  <head>
    <title>회원가입 페이지</title>
    <link href="/plugin/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet"> <!-- 부트스트랩 css파일 -->
  </head>
  <style>
    html, body {
      height: 100%;
    }
    .login-main {
      height: 100%;
      background-image: url("/image/login_background.png");
      background-size: 100% 100%;
    }
  </style>

  <body>
    <main class="login-main d-flex">
      <div class="d-flex flex-column align-items-center justify-content-center" style="flex-grow: 6">
        <form action="/auth/signup" method="post" style="width: 35%">
          <% if (typeof(alert.error) !== "undefined") { %>
            <div class="alert alert-danger">
              <%=alert.error%>
            </div>
          <% } %>
          <h1 class="h3 mb-3 fw-normal">회원가입</h1>
          <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="아이디" autocomplete="off">
            <label for="floatingInput">아이디</label>
          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="비밀번호" autocomplete="off">
            <label for="floatingPassword">비밀번호</label>
          </div>
          <button class="mt-3 w-100 btn btn-lg btn-primary" type="submit">회원가입</button>
          <a class="mt-3 w-100 btn btn-lg btn-primary" href="/auth/login">로그인 페이지로</a>
        </form>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center" style="flex-grow: 1; color: white">
        <img src="/image/login_logo.png" alt="로그인로고">
      </div>
    </main>
    <script src="/plugin/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script> <!-- 부트스트랩 js파일-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- ajax 요청을 위한 axios -->
    <script src="https://kit.fontawesome.com/8f09a07a77.js" crossorigin="anonymous"></script> <!-- 각종 아이콘을 제공해주는 font-awesome -->
  </body>

</html>