<style>
  .navbar {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
  }
  .navbar .logout {
    margin-top: 1rem;
    margin-right: 2rem;
    align-self: flex-end;
    text-decoration: none;
    color: white;
  }
  .navbar .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
</style>

<nav class="navbar">
  <a class="logout" href="/auth/logout">| 로그아웃</a>
  <img class="mb-5" src="/image/navbar_logo.png" alt="네비바로고">
</nav>