{{#section "style"}}
<style>
  .title-label {
    flex-basis: 200px;
  }
</style>
{{/section}}

{{#section "title"}}
  <title>식단 목록</title>
{{/section}}

<a type="button" href="/admin/diet/editor" class="w-30 mb-2 btn btn-primary">식단 추가</a>
<div class="row">
  {{!-- 테이블 타이틀 --}}
  <div class="row col-12 table-bar">
    <div class="col-1">식단 코드</div>
    <div class="col-8">식단 명</div>
    <div class="col-3">버튼</div>
  </div>

  {{!-- 테이블 내용 --}}
  {{#each dietList}}
    <a class="col-1" href="/admin/diet/detail/{{this.cntntsNo}}">{{this.cntntsNo}}</a>
    <div class="col-8">{{this.dietNm}}</div>
    <div class="col-3"></div>
  {{/each}}
</div>

{{#section "script"}}
{{/section}}