<style>
  .main {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
  }
  .diet-editor .divider {
    height: 3px;
    background: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .diet-editor .back-button {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
</style>

<main class="main m-5">

  <!-- 음식 상세 정보 -->
  <section class="diet-editor card w-100">
    <div class="card-body w-100">

      <!-- 머릿말 부분 -->
      <section class="mt-3 ms-3 d-flex justify-content-between">
        <h4 class=""><b>새로운 식단 작성</b></h4>
        <a class="back-button mt-2" onclick="onClickBackButton('/admin/diet')"><b>| 뒤로가기</b></a>
      </section>
      <div class="divider"></div>

      <!-- 몸통 부분 -->
      <form id="diet-form" action="/admin/diet/writer" method="post" enctype="multipart/form-data">
        <!-- 내용 영역 -->
        <section class="ms-3">
          <article class="d-flex">
            <div class="d-flex flex-column">
              <img
                id="dietImage"
                width="250px"
                height="250px"
                src="/image/diet/normal/?>"
                alt="음식"
                onerror="this.src='/image/no_image_available.jpg';">
              <input
                class="d-none form-control"
                id="imageFileInput"
                type="file"
                accept=".jpg, .png"
                name="imageFile"
                onchange="onChangeImageFile(this)">
              <div class="mt-2" aria-label="margin"></div>
              <button type="button" class="btn btn-secondary" onclick="onClickImageSelectButton()">이미지 변경</button>
            </div>
            <div class="ms-3 mt-2 d-flex flex-column flex-grow-1">

              <!-- 음식코드, 식단코드 -->
              <div class="d-flex">
                <div class="w-50 me-5 form-floating">
                  <input
                    type="text"
                    maxlength="10"
                    title="숫자만 입력해주세요."
                    name="cntntsNo"
                    class="form-control"
                    placeholder="식단코드"
                    required
                    autocomplete="off">
                  <label>식단 코드</label>
                </div>
                <div class="w-50 ms-5 form-floating">
                  <input
                    type="text"
                    maxlength="10"
                    title="숫자만 입력해주세요."
                    name="dietSeCode"
                    class="form-control"
                    placeholder="식단구분코드"
                    required
                    autocomplete="off">
                  <label>식단 구분 코드</label>
                </div>
              </div>

              <!-- 음식 이름 -->
              <div class="mt-3 form-floating">
                <input
                  type="text"
                  name="dietNm"
                  class="form-control"
                  placeholder="식단이름"
                  autocomplete="off">
                <label>식단 이름</label>
              </div>

              <div class="d-flex mt-3">
                
                <div class="w-25 me-4 form-floating">
                  <input
                  type="text"
                  title="숫자만 입력해주세요."
                  name="clriInfo"
                  class="form-control"
                  placeholder="열량"
                  required
                  autocomplete="off">
                  <label>열량(Kcal)</label>
                </div>
                <div class="w-25 me-4 form-floating">
                  <input
                  type="text"
                  title="숫자만 입력해주세요."
                  name="crbhInfo"
                  class="form-control"
                  placeholder="당질"
                  required
                  autocomplete="off">
                  <label>당질(g)</label>
                </div>
                <div class="w-25 me-4 form-floating">
                  <input
                  type="text"
                  title="숫자만 입력해주세요."
                  name="protInfo"
                  class="form-control"
                  placeholder="단백질"
                  required
                  autocomplete="off">
                  <label>단백질(g)</label>
                </div>
                <div class="w-25 form-floating">
                  <input
                  type="text"
                  title="숫자만 입력해주세요."
                  name="ntrfsInfo"
                  class="form-control"
                  placeholder="지질"
                  required
                  autocomplete="off">
                  <label>지질(g)</label>
                </div>

              </div>

              <!-- 조리 방법 -->
              <div class="mt-3 form-floating">
                <span class="input-group-text">식단 상세 설명</span>
                <textarea
                  class="h-100 form-control"
                  name="dietCn"
                  value=""
                  rows="10"></textarea>
              </div>

            </div>
          </article>
        </section>

        <section class="d-flex flex-column align-items-end" style="margin-top: 5rem;">
          <div class="error-alert alert alert-danger" style="display: none"></div>
          <!-- 버튼 영역 -->
          <section class="d-flex justify-content-end">
            <button type="button" class="ms-3 btn btn-primary" onclick="onClickSubmitButton()">작성하기</button>
            <button type="button" class="ms-3 btn btn-secondary" onclick="onClickBackButton('/admin/diet')">취소하기</button>
          </section>
        </section>
      </form>
      
      </article>
    </div>

  </section>
</main>

<script>
  function showErrorAlert(message) {
      let errorEl = document.querySelector(".diet-editor .error-alert");
      errorEl.style.display = "block";
      errorEl.innerText = message;
  }

  // 작성하기 버튼 클릭시
  async function onClickSubmitButton() {
    let cntntsNo = document.querySelector(`#diet-form input[name="cntntsNo"]`).value;
    let dietSeCode = document.querySelector(`#diet-form input[name="dietSeCode"]`).value;
    let clriInfo = document.querySelector(`#diet-form input[name="clriInfo"]`).value;
    let crbhInfo = document.querySelector(`#diet-form input[name="crbhInfo"]`).value;
    let protInfo = document.querySelector(`#diet-form input[name="protInfo"]`).value;
    let ntrfsInfo = document.querySelector(`#diet-form input[name="ntrfsInfo"]`).value;

    // 클라이언트단 유효성 검사
    let notIntRegex = /[^0-9]/; // 정수가 아닌 값 추출
    let notNumberRegex = /[^0-9.]/; // 실수가 아닌 값 추출
    let numberRegex = /[0-9]*\.*[0-9]+/;  // 실수만 추출
    if (isEmpty(cntntsNo)) {
      return showErrorAlert("식단 코드를 입력해주세요.");
    }
    if (isEmpty(dietSeCode)) {
      return showErrorAlert("식단 구분 코드를 입력해주세요.");
    }
    if (!isEmpty(cntntsNo.match(notIntRegex))) {
      return showErrorAlert("식단 코드는 숫자만 입력 가능 합니다.");
    }
    if (!isEmpty(dietSeCode.match(notIntRegex))) {
      return showErrorAlert("식단 구분 코드는 숫자만 입력 가능 합니다.");
    }
    if (!isEmpty(clriInfo.match(notNumberRegex))) {
      return showErrorAlert("열량은 숫자만 입력 가능 합니다.");
    }
    if (!isEmpty(crbhInfo.match(notNumberRegex))) {
      return showErrorAlert("당질은 숫자만 입력 가능 합니다.");
    }
    if (!isEmpty(protInfo.match(notNumberRegex))) {
      return showErrorAlert("단백질은 숫자만 입력 가능 합니다.");
    }
    if (!isEmpty(ntrfsInfo.match(notNumberRegex))) {
      return showErrorAlert("지질은 숫자만 입력 가능 합니다.");
    }

    clriInfo = clriInfo.match(numberRegex);
    crbhInfo = crbhInfo.match(numberRegex);
    protInfo = protInfo.match(numberRegex);
    ntrfsInfo = ntrfsInfo.match(numberRegex);

    // TODO: 서버에 요청
    try {
      const res = await axios.post("/admin/diet/writer/check", {
        cntntsNo,
      });

      if (res.data.checkErrorMessage) {
        showErrorAlert(res.data.checkErrorMessage);
      } else {
        document.querySelector("#diet-form").submit();
      }

    } catch (err) {
      console.log(err);
    }
  }

  // 이미지 파일 변경 버튼 클릭시
  function onClickImageSelectButton() {
    document.querySelector("#imageFileInput").click();
  }

  // 이미지 파일 변경시
  function onChangeImageFile(e) {
    let imgEl = document.querySelector("#dietImage");
    imgEl.setAttribute("src", window.URL.createObjectURL(e.files[0]));
  }
</script>